$STAGE_WIDTH: 24;
$STAGE_HEIGHT: 40;

$color-0: rgba(0, 0, 0, 0.8);
$color-I: rgba(80, 227, 230, 0.8);
$color-J: rgba(36, 95, 223, 0.8);
$color-L: rgba(223, 173, 36, 0.8);
$color-O: rgba(223, 217, 36, 0.8);
$color-S: rgba(48, 211, 56, 0.8);
$color-T: rgba(132, 61, 198, 0.8);
$color-Z: rgba(227, 78, 78, 0.8);

$color-border-bottom-0: rgba(0, 0, 0, 0.1);
$color-border-right-0: rgba(0, 0, 0, 1);
$color-border-top-0: rgba(0, 0, 0, 1);
$color-border-left-0: rgba(0, 0, 0, 0.3);

$color-border-bottom-I: rgba(80, 227, 230, 0.1);
$color-border-right-I: rgba(80, 227, 230, 1);
$color-border-top-I: rgba(80, 227, 230, 1);
$color-border-left-I: rgba(80, 227, 230, 0.3);

$color-border-bottom-J: rgba(36, 95, 223, 0.1);
$color-border-right-J: rgba(36, 95, 223, 1);
$color-border-top-J: rgba(36, 95, 223, 1);
$color-border-left-J: rgba(36, 95, 223, 0.3);

$color-border-bottom-L: rgba(223, 173, 36, 0.1);
$color-border-right-L: rgba(223, 173, 36, 1);
$color-border-top-L: rgba(223, 173, 36, 1);
$color-border-left-L: rgba(223, 173, 36, 0.3);

$color-border-bottom-O: rgba(223, 217, 36, 0.1);
$color-border-right-O: rgba(223, 217, 36, 1);
$color-border-top-O: rgba(223, 217, 36, 1);
$color-border-left-O: rgba(223, 217, 36, 0.3);

$color-border-bottom-S: rgba(48, 211, 56, 0.1);
$color-border-right-S: rgba(48, 211, 56, 1);
$color-border-top-S: rgba(48, 211, 56, 1);
$color-border-left-S: rgba(48, 211, 56, 0.3);

$color-border-bottom-T: rgba(132, 61, 198, 0.1);
$color-border-right-T: rgba(132, 61, 198, 1);
$color-border-top-T: rgba(132, 61, 198, 1);
$color-border-left-T: rgba(132, 61, 198, 0.3);

$color-border-bottom-Z: rgba(227, 78, 78, 0.1);
$color-border-right-Z: rgba(227, 78, 78, 1);
$color-border-top-Z: rgba(227, 78, 78, 1);
$color-border-left-Z: rgba(227, 78, 78, 0.3);
